li {
  padding: 10px 25px;
  margin: 5px;
  background: #faebd7;
  text-decoration: none;
  list-style:none;
  width:fit-content;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
